---
layout: base.njk
title: Resources and support
permalink: "/resources/"
---
<h1>Resources and support</h1>
<ul>
  <li>Fountwood Counseling Team: 0719181488</li>
  <li>National Addiction Helpline (Kenya): 1192</li>
  <li>NACADA Support: 0800 221 650</li>
  <li>Emergency / Crisis Support: 999</li>
</ul>
